version: '3.9'

networks:
  internal_network: { }

services:

  #Jaeger
  jaeger-service:
    image: jaegertracing/all-in-one:latest
    container_name: jaeger-service
    restart: always
    ports:
      - "16686:16686"
      - "14268"
      - "14250"
    networks:
      internal_network:

  # Zipkin
  zipkin-service:
    image: openzipkin/zipkin:latest
    container_name: zipkin-service
    restart: always
    ports:
      - "9411:9411"
    networks:
      internal_network:

  #Prometheus
  prometheus-service:
    image: prom/prometheus:latest
    container_name: prometheus-service
    restart: always
    volumes:
      - ./docker-scripts/prometheus.yaml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      internal_network:

  #Opentelemetry collector
  otel-collector:
    image: otel/opentelemetry-collector:0.69.0
    container_name: otel-collector
    restart: always
    command: [ "--config=/etc/otel-collector-config.yaml", "${OTELCOL_ARGS}" ]
    volumes:
      - ./docker-scripts/otel-collector-config.yaml:/etc/otel-collector-config.yaml
    ports:
      - "1888:1888"   # pprof extension
      - "8888:8888"   # Prometheus metrics exposed by the collector
      - "8889:8889"   # Prometheus exporter metrics
      - "13133:13133" # health_check extension
      - "4317:4317"   # OTLP gRPC receiver
      - "55679:55679" # zpages extension
    networks:
      internal_network:

    depends_on:
      - jaeger-service
      - zipkin-service

  discovery-server:
    build:
      context: discovery-server
      dockerfile: Dockerfile
    image: edata-discoveryserver:latest
    container_name: discovery-server
    environment:
      - OTEL_SERVICE_NAME=discovery-server
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
    ports:
      - "8761:8761"
    networks:
      internal_network:
    healthcheck:
      test: [ "CMD","curl","-f","http://localhost:8761/" ]
      interval: 1m
      timeout: 10s
      retries: 10
    depends_on:
      otel-collector-service:
        condition: service_started

  api-gateway:
    build:
      context: api-gateway
      dockerfile: Dockerfile
    image: edata-apigateway:latest
    container_name: api-gateway
    environment:
      - OTEL_SERVICE_NAME=api-gateway
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
    ports:
      - "8080:8080"
    networks:
      internal_network:
    depends_on:
      discovery-server:
        condition: service_healthy




