version: '3.9'

networks:
  internal_network: { }

services:
  discovery-server:
    build:
      context: discovery-server
      dockerfile: Dockerfile
    image: edata-discoveryserver:latest
    container_name: discovery-server
    ports:
      - "8761:8761"
    networks:
      internal_network:
    healthcheck:
      test: [ "CMD","curl","-f","http://localhost:8761/" ]
      interval: 1m
      timeout: 10s
      retries: 10
  api-gateway:
    build:
      context: api-gateway
      dockerfile: Dockerfile
    image: edata-apigateway:latest
    container_name: api-gateway
    ports:
      - "8080:8080"
    networks:
      internal_network:
    depends_on:
      discovery-server:
        condition: service_healthy




